In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea

In [3]:
fruit=pd.read_csv('fruit_data_with_colours.csv')

In [4]:
fruit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fruit_label    59 non-null     int64
 1   fruit_name     59 non-null     object
 2   fruit_subtype  59 non-null     object
 3   mass           59 non-null     int64
 4   width          59 non-null     float64
 5   height         59 non-null     float64
 6   color_score    59 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.4+ KB

In [5]:
fruit.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [18]:
fruit_categorical=fruit.select_dtypes('object')
fruit_categorical=fruit_categorical.drop('fruit_name',axis=1)
fruit_numberical=fruit.select_dtypes(['int64','float64'])

In [19]:
fruit_categorical.shape

(59, 1)

In [20]:
fruit_numberical.shape

(59, 5)

In [21]:
fruit_categorical=pd.get_dummies(fruit_categorical)

In [22]:
fruit_categorical.shape

(59, 10)

In [23]:
fruit_final=pd.concat([fruit_categorical,fruit_numberical],axis=1)

In [24]:
fruit_final.head()

   fruit_subtype_braeburn  fruit_subtype_cripps_pink  ...  height  color_score
0                       0                          0  ...     7.3         0.55
1                       0                          0  ...     6.8         0.59
2                       0                          0  ...     7.2         0.60
3                       0                          0  ...     4.7         0.80
4                       0                          0  ...     4.6         0.79

[5 rows x 15 columns]

In [25]:
x=fruit_final
y=fruit['fruit_name']

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=23)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()
model.fit(x_train,y_train)
model_prediction=model.predict(x_test)

In [30]:
from sklearn.metrics import accuracy_score
print(accuracy_score(model_prediction,y_test))

0.8666666666666667

In [31]:
new_dataframe=pd.DataFrame({'original':y_test,'predicted':model_prediction})

In [32]:
new_dataframe

   original predicted
29   orange    orange
24   orange    orange
49    lemon     lemon
8     apple     apple
28   orange     lemon
18    apple     apple
55    lemon     lemon
52    lemon     lemon
37   orange     apple
35   orange    orange
16    apple     apple
53    lemon     lemon
17    apple     apple
14    apple     apple
51    lemon     lemon

In [35]:
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(x_train,y_train)
model2_predict=model2.predict(x_test)
print(accuracy_score(model2_predict,y_test))

1.0